<!DOCTYPE html>
<html lang="en">
<head>
    {{> header }}
</head>
<body>
    <body>
        <div class="flex-center position-ref full-height">
            <div class="flex-box">
                <div class="content">
                    <div class="title m-b-md">
                        {{ data.title }}
                    </div>
                    {{ data.description }}
                </div>
                <div class="content">
                    {{> footer}}
                </div>
            </div>
        </div>
    </body>
</body>
</html>